
{% extends "layout.html" %}
{% block content %}
    <h1>Family Page</h1>
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">Full name: {{member.fname}} {{member.lname}}</a>
            <small class="text-muted">Age: {{member.age}}</small>
        </div>
        <h2><a class="article-title" href="#">Gender: {{member.gender}</a></h2>
        <p class="article-content">Gender: {{member.gender}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}
